@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto  black";
    src: url(../fonts/Roboto/static/Roboto-Black.ttf);

}
body {
    margin: 0;
    width: 100%;
}
header {

    width: 100%;
    max-width: 2000px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    color: black;
}
.menu  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {

    font-family: "Roboto";
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.banner {
    background-image:url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.banner-img {
    width: 60%;
}

.banner-img img {
    width: 100%;
}

.information {
    font-family: "roboto";
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    font-size: 15px;
}
.Btn-cta {

    background-color: brown;
    text-decoration: none;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 0.2rem;
}

h2{
    font-family: "roboto";
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    font-size: 15px;
}
.re {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;


    background-color: rgb(29, 29, 29);

}

.informations-img {

        width: 100%;

}
.informations-img img {
    width: 100%;
}
.article {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    color: white;
}
.re-container {
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}
.newsletter {
    background-color: #252525;
    text-decoration: none;
    padding: 1rem;
    color: white;
}
.email {
    background-color: white;
    border-radius: 0.2rem;
    padding-right: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: gray;
    padding-left: 0.2rem;
    
}
.subscrib {

    background-color: brown;
    text-decoration: none;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color: white;
    border-radius: 0.2rem;
}
.button {
    display: flex;
    justify-content: center;
}