@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto  black";
    src: url(../fonts/Roboto/static/Roboto-Black.ttf);
    font-weight: 900;
}
